{% extends '_base.html' %}

{% block title %}Home{% endblock %}
{% block content %}

Last updated: {{ page_obj.0.current_price.date }}
<br />
<strong>Legend:</strong>
<ul>
    <li><i class="fas fa-exclamation"></i> = The product ha(s)d a different price within 7 days of a sale</li>
    <li><i class="fas fa-smile"></i> = The product hasn't changed price</li>
    <li><i class="fas fa-dollar-sign"></i> = Hover to view previous prices of the product</li>
</ul>

<br />
<br />
{% load json_tags %}
<div class="flex flex-row flex-wrap mx-2">
    {% for item in page_obj  %}
    <div class="w-full sm:w-1/2 md:w-1/4 mb-4 px-2">
        <a href="{% url 'product-view' item.slug %}"><img src="{{ item.image }}" style="width:200px" /></a>
        <a href="https://www.unrealengine.com/marketplace/en-US/product/{{ item.slug }}" target="_blank">{{ item.title }}</a>
        {{ item.current_price|parsejson:"price" }}
        
    </div>
    {% endfor %}
</div>



<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. ({{ page_obj.paginator.count }})
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<p>This site was spawned from the idea of <a href="https://docs.google.com/spreadsheets/d/1a-sJ0cvmgSiXToD1GxjCED6e1993ZytTB5oAZ9bb8YM/edit#gid=1114449252">Unreal Engine Marketplace API</a> - just a better UI.</p>
<p><strong>Note: This site pulls data from the marketplace every 24 hours and updates it on the site. </strong></p>
<p>An API may be added in the future.</p>
{% endblock %}