{% extends '_base.html' %}

{% block title %}Home{% endblock %}
{% block content %}

Last updated: {% include 'last_updated.txt' %}
<br />
<strong>Legend: </strong>
<ul>
    <li><i class="fas fa-siren-on"></i> = The product ha(s)d a different price within 7 days of a sale</li>
    <li><i class="fas fa-dollar-sign"></i> = The product has had previous prices</li>
</ul>

<br />
<br />

{% load json_tags %}
<div class="flex flex-row flex-wrap mx-2">
    {% for item in page_obj  %}
    <div class="w-full sm:w-1/2 md:w-1/4 mb-4 px-2">
        <a href="{% url 'product-view' item.slug %}"><img src="{{ item.image }}" style="width:300px" /></a>
        {% if item.has_changed_price_within_sale %}<i class="fas fa-siren-on"></i>{% endif %}
        {% if item.has_previous_prices %}<i class="fas fa-dollar-sign"></i>{% endif %}
        <ul>
            <li><a href="https://www.unrealengine.com/marketplace/en-US/product/{{ item.slug }}">{{ item.title }}</a></li>
            <li>{{ item.current_price|parsejson:"price" }}</li>
        </ul>
    </div>
    {% endfor %}
</div>


<!-- <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. ({{ page_obj.paginator.count }})
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> -->

<div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
    <div class="flex-1 flex justify-between sm:hidden">
        {% if page_obj.has_previous %}
      <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
        Previous
      </a>
      {% endif %}
      {% if page_obj.has_next %}
      <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
        Next
      </a>
      {% endif %}
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium">{{ page_obj.start_index }}</span>
          to
          <span class="font-medium">{{ page_obj.end_index }}</span>
          of
          <span class="font-medium">{{ page_obj.paginator.count }}</span>
          results
        </p>
      </div>
      <div>
        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
            {% if page_obj.has_previous %}
            <a href="?page=1" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                <span class="sr-only">First</span>
                <!-- Heroicon name: solid/chevron-left -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
                  </svg>
              </a>
          <a href="?page={{ page_obj.previous_page_number }}" class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Previous</span>
            <!-- Heroicon name: solid/chevron-left -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
              </svg>
          </a>
          {% endif %}
          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Next</span>
            <!-- Heroicon name: solid/chevron-right -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
              </svg>
          </a>

          <a href="?page={{ page_obj.paginator.num_pages }}" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Last</span>
            <!-- Heroicon name: solid/chevron-right -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
              </svg>
          </a>
          {% endif %}
          
        </nav>
      </div>
    </div>
  </div>

<p>This site was spawned from the idea of <a href="https://docs.google.com/spreadsheets/d/1a-sJ0cvmgSiXToD1GxjCED6e1993ZytTB5oAZ9bb8YM/edit#gid=1114449252">Unreal Engine Marketplace API</a> - just a better UI.</p>
<p><strong>Note: This site pulls data from the marketplace every 6 hours and updates it on the site. </strong></p>
<p>An API may be added in the future.</p>
{% endblock %}