{% extends '_base.html' %}

{% block title %}Search{% endblock %}
{% block content %}
<br />
<strong>Legend: </strong>
<ul>
    <li><i class="fas fa-siren-on"></i> = The product ha(s)d a different price within 7 days of a sale</li>
    <li><i class="fas fa-dollar-sign"></i> = The product has had previous prices</li>
</ul>

<br />
<br />

{% load json_tags %}

<section class="py-8">

    <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">
        {% for item in page_obj  %}

        <div class="w-full md:w-1/3 xl:w-1/4 p-6 flex flex-col">
            <a href="{% url 'product-view' item.slug %}">
                <img class="hover:grow hover:shadow-lg" src="{{ item.image }}" alt="{{ item.title }}" />
                <div class="pt-3 flex items-center justify-between">
                    <p class="">{{ item.title }}</p>
                </div>
                <p class="pt-1 text-gray-500">{{ item.current_price|parsejson:"price" }}</p>
                <p class="pt-1 text-gray-500">
                {% if item.has_changed_price_within_sale %}<i class="text-gray-500 fas fa-siren-on"></i>{% endif %}
                {% if item.has_previous_prices %}<i class="text-gray-500 fas fa-dollar-sign"></i>{% endif %}
                </p>
            </a>
        </div>

        {% endfor %}

        </div>

</section>

{% include '_pagination.html' %}

{% endblock %}