<!-- <p>This site was spawned from the idea of <a href="https://docs.google.com/spreadsheets/d/1a-sJ0cvmgSiXToD1GxjCED6e1993ZytTB5oAZ9bb8YM/edit#gid=1114449252">Unreal Engine Marketplace API</a> - just a better UI.</p>
<p><strong>Note: This site pulls data from the marketplace every 6 hours and updates it on the site. </strong></p>
<p>An API may be added in the future.</p> -->

<footer class="container mx-auto py-8 border-t border-gray-400">
    <div class="container flex px-3 py-8 ">
        <div class="w-full mx-auto flex flex-wrap">
            <div class="flex w-full lg:w-1/2 ">
                <div class="px-3 md:px-0">
                    <h3 class="font-bold text-gray-500">About</h3>
                    <p class="py-4">
                        This site was spawned from the idea of <a href="https://docs.google.com/spreadsheets/d/1a-sJ0cvmgSiXToD1GxjCED6e1993ZytTB5oAZ9bb8YM/edit#gid=1114449252">Unreal Engine Marketplace API</a> - just a better UI.
                    </p>
                    <p>
                        The site is updated every 60 minutes.
                    </p>
                </div>
            </div>
            <div class="flex w-full lg:w-1/2 lg:justify-end lg:text-right">
                <div class="px-3 md:px-0">
                    <h3 class="font-bold text-gray-500"></h3>
                    <ul class="list-reset items-center pt-3">
                        <li>
                            Last updated: {% include 'last_updated.txt' %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>